#card1 {
  background-color: red;
}

#card2 {
  background-color: blue;
}

#card3 {
  background-color: yellow;
}

#card4 {
  background-color: green;
}

#card5 {
  background-color: goldenrod;
}

#card6 {
  background-color: aqua;
}

#card7 {
  background-color: violet;
}

#card8 {
  background-color: brown;
}
div {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: row-reverse;
}