.card {
  border: 1px solid black;
  width: 300px;
  padding: 0.2em;
}

img {
  max-width: 100%;
}
.moonPlanet {
  background: black;
  color: white;
}

.noMoonPlanet {
  background-color: lightgrey;
}